.scontainer
{
	height: 6.5in;
	width: 9in;
/*	background: #0000FF; */
}

.scontainer h2
{
	margin: 0 0 0.5em 0;
}

body
{
	background: #FFFFFF;
	font-size: 10pt;
}

#container
{
	width: 9in;
}

#header
{
	display: none;
}

#footer
{
	display: none;
}

.entry
{
	background: #FFFFFF;
	border: none;
	width: 9in;
}

h2
{
	font-size: 175%;
}

.name h2
{
	width: 7in;
	margin: auto;
	font-size: 250%;
}

th, td
{
	font-size: 10pt;
}

.phase td
{
	min-width: 130px;
}

.narrower td
{
	min-width: 110px;
}

.instruction
{
	width: 9in;

}

.pagebreak
{
	display: inherit;
	page-break-before: always;
}

#qrcode
{
	display: inherit;
	position: absolute;
	right: 0px;
	top: 0px;
}

.printinfo
{
	display: none;
}
