/* This CSS is used in the print schedules page. It's designed to be minimalist
   since the point of that page is for it to be printed */
body
{
	background: #FFFFFF;
	width: 7in;
}

h2
{
	font-size: 250%;
	margin: 0.5em auto;
}

.teamentry
{
	break-after: page;
	text-align: center;
}

.roomentry
{
	break-after: page;
	text-align: center;
}

table
{
	border-collapse: collapse;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	font-size: 16pt;
}

th, td
{
	border: 1px solid black;
	padding: 1px 2px;
}

@media screen
{
	.qrcode
	{
		display: none;
	}
}

@media print
{
	.qrcode
	{
		position: fixed;
		bottom: 0;
		right: 0;
	}

	#instructions
	{
		display: none;
	}
}
